* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 1144px;
  margin: 0 auto;
}

ul, ol {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 0.9;
}

h1 {
  font-size: 56px;
}

img {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
}
header nav {
  width: 100%;
  display: flex;
  gap: 95px;
  align-items: center;
}
header nav .logo {
  width: 200px;
  height: 90px;
  padding: 8px;
}
header nav ul {
  display: flex;
  gap: 50px;
}

section#banner {
  width: 100%;
  height: 100%;
  padding: 0 25px;
  background-color: aliceblue;
  background-image: url("https://th.bing.com/th/id/R.893b18053d7ef46366c56c9745312ae2?rik=Hku76T7JnO1UtQ&pid=ImgRaw&r=0");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
}
section#banner .bannerwarper {
  display: flex;
  padding: 110px 0;
}
section#banner .bannerwarper .banerContent {
  width: 100%;
  text-align: center;
}
section#banner .bannerwarper .banerContent h1 {
  font-size: 56px;
  font-family: sans-serif;
  font-weight: 800;
  color: #fff;
  -webkit-text-stroke: 1px red;
  text-shadow: 5px -1px 3px #ce5a37;
  margin-bottom: 10px;
}
section#banner .bannerwarper .banerContent h2 {
  font-size: 36px;
  font-weight: 800;
  font-family: sans-serif;
  margin-bottom: 30px;
  color: #fff;
  -webkit-text-stroke: 1px red;
  text-shadow: 5px -1px 3px #ce5a37;
}
section#banner .bannerwarper .banerContent p {
  width: 450px;
  padding-bottom: 40px;
  margin: 0 auto;
  font-size: 23px;
  font-weight: 800;
  font-family: "Whisper", cursive;
  color: #fff;
  line-height: 1.2;
  background: -webkit-linear-gradient(#ffffff, #19b1fd, rgb(204, 0, 255), rgb(151, 170, 249));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px -1px 1px #ffffff;
}
section#banner .bannerwarper .banerContent .btnbx {
  width: 100%;
}
section#banner .bannerwarper .banerContent .btnbx button {
  background: red;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  padding: 8px 38px;
  font-size: 20px;
  color: white;
}
section#banner .bannerwarper .banerContent .r {
  width: 100%;
}
section#banner .bannerwarper .banerContent .r .extra {
  width: 500px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#banner .bannerwarper .banerContent .r .extra .linebox {
  width: 220px;
  height: 34px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
section#banner .bannerwarper .banerContent .r .extra .linebox:first-child {
  align-items: end;
}
section#banner .bannerwarper .banerContent .r .extra .linebox .line {
  width: 100%;
  height: 3px;
  background: #fff;
}
section#banner .bannerwarper .banerContent .r .extra .linebox .line:nth-child(2) {
  width: 90%;
}
section#banner .bannerwarper .banerContent .r .extra .linebox .line:last-child {
  width: 80%;
}
section#banner .bannerwarper .banerContent .r .extra .lineIcon {
  width: 60px;
  height: 32px;
  font-size: 32px;
  color: #fff;
}

.menuItem .blogCardWarpper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  gap: 20px;
}
.menuItem .blogCardWarpper .blogCard {
  width: 25%;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2) inset;
  border-radius: 14px;
  overflow: hidden;
}
.menuItem .blogCardWarpper .blogCard:hover {
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.4);
  transition: 0.2s all linear;
}
.menuItem .blogCardWarpper .blogCard .blogImg {
  width: 100%;
  height: 150px;
}
.menuItem .blogCardWarpper .blogCard .itemDetails {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuItem .blogCardWarpper .blogCard .itemDetails .detail p {
  padding-bottom: 5px;
}

#review {
  padding: 80px 10px;
}
#review .htxt {
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
}
#review .reViewWarpper {
  display: flex;
  align-items: center;
  justify-content: center;
}
#review .reViewWarpper .clintReview {
  width: 100%;
  max-width: 800px;
}
#review .reViewWarpper .clintReview ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#review .reViewWarpper .clintReview ul li {
  width: 45%;
}
#review .reViewWarpper .clintReview ul li > div {
  width: 100%;
  padding: 12px;
  display: flex;
  gap: 12px;
  border: 2px solid transparent;
  border-image: repeating-linear-gradient(45deg, #fd627c, purple, rgb(2, 192, 183)) 10;
  border-radius: 100px;
}
#review .reViewWarpper .clintReview ul li > div .profileImg {
  width: 60px;
  height: 60px;
  background-color: #000;
  border-radius: 50%;
}
#review .reViewWarpper .clintReview ul li > div .reviewtxt i {
  display: inline-block;
  font-size: 12px;
  padding-top: 6px;
  line-height: 1.2;
  color: rgb(48, 48, 48);
  margin-bottom: 8px;
}
#review .reViewWarpper .clintReview ul li > div .reviewtxt p span {
  color: yellow;
}

#FAQ {
  padding: 50px 0;
}
#FAQ h1 {
  text-align: center;
}

.faqmain {
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faqmain .wapper {
  width: 600px;
}

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #2b405a;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded=true] {
  color: #03b5d2;
}

.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}

.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}

#galary .galaryHeader {
  text-align: center;
  padding-bottom: 40px;
}
#galary .galaryHeader h1 {
  margin-bottom: 20px;
}
#galary .galaryHeader p {
  max-width: 480px;
  margin: 0 auto;
  font-size: 17px;
  margin-bottom: 20px;
}
#galary .galaryHeader a {
  display: inline-block;
  padding: 6px 12px;
  border: 1px solid gray;
}
#galary .galaryWarper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
#galary .galaryWarper .galaryItems {
  width: 30%;
  height: 300px;
  background: #000;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
#galary .galaryWarper .galaryItems .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3764705882);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
#galary .galaryWarper .galaryItems .overlay h3 {
  text-align: center;
  border: 2px solid rgb(220, 220, 220);
  line-height: 0.8;
  padding: 8px 25px;
  color: #6801c9;
  text-shadow: 1px 2px 5px rgb(183, 183, 183);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  background-color: rgba(174, 174, 174, 0.5568627451);
  cursor: pointer;
}
#galary .galaryWarper .galaryItems .overlay h3:hover {
  background-color: black;
}
#galary .galaryWarper .galaryItems:hover .overlay {
  opacity: 1;
  transition: 0.2s all linear;
}

#blog {
  width: 100%;
  padding: 50px 10px;
}
#blog .blogBanneer {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
#blog .blogBanneer aside {
  width: 100%;
}
#blog .blogBanneer aside h2 {
  font-size: 36px;
  padding-bottom: 20px;
}
#blog .blogBanneer aside h4 {
  line-height: 1.1;
}
#blog .blogBanneer aside p {
  padding: 10px 0;
  line-height: 1.2;
}
#blog .blogCardWarpper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  gap: 20px;
}
#blog .blogCardWarpper .blogCard {
  width: 25%;
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.2) inset;
  border-radius: 14px;
  overflow: hidden;
}
#blog .blogCardWarpper .blogCard:hover {
  box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 0.4);
}
#blog .blogCardWarpper .blogCard .blogImg {
  width: 100%;
  height: 150px;
}
#blog .blogCardWarpper .blogCard .itemDetails {
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#blog .blogCardWarpper .blogCard .itemDetails .detail p {
  padding-bottom: 5px;
}/*# sourceMappingURL=style.css.map */